$background-color: #000 !default;
$on-background-color: #FFF !default;
$surface-color: #171717 !default;
$on-surface-color: #FFF !default;
$primary-color: #21e6c1 !default;
$on-primary-color: #000 !default;
@import "src/styles/partials/import";
