$background-color: #081820 !default;
$on-background-color: #FFF !default;
$surface-color: #1e403b !default;
$on-surface-color: #fefefe !default;
$primary-color: #e0f8d0 !default;
$on-primary-color: #346856 !default;
@import "src/styles/partials/import";
