$background-color: #000 !default;
$on-background-color: #07FE6A !default;
$surface-color: #2d2d2d !default;
$on-surface-color: #07FE6A !default;
$primary-color: #FFF !default;
$on-primary-color: #000 !default;
@import '../ui/shared';
@import '../ui/taskbar';
@import '../ui/window';
@import '../ui/loader';
@import '../ui/os';
@import '../applications/welcome';
@import '../applications/browser';
