$background-color: #222831;
$on-background-color: #ececec;
$surface-color: #30475e;
$on-surface-color: #ececec;
$primary-color: #c1a57b;
$on-primary-color: #ececec;
@import "src/styles/partials/import";
