$background-color: #212121;
$on-background-color: #faf9f9;
$surface-color: #2c2c2c;
$on-surface-color: #faf9f9;
$primary-color: #57f9ff;
$on-primary-color: #212121;
@import "src/styles/partials/import";
