$background-color: #000;
$on-background-color: #FEFEFE;
$surface-color: #1f1f1f;
$on-surface-color: #FEFEFE;
$primary-color: #e5816b;
$on-primary-color: #FEFEFE;
@import "src/styles/partials/import";
