$background-color: #355070;
$on-background-color: #FEFEFE;
$surface-color: #e36414;
$on-surface-color: #FEFEFE;
$primary-color: #e56b6f;
$on-primary-color: #FEFEFE;
@import "src/styles/partials/import";
