$fontSizes: (
        "small": 0.75rem,
        "normal": 1rem,
        "medium": 1.5rem,
        "big": 2rem,
        "extra-big": 3rem
) !default;

$padding: (
        "extra-small": .5rem,
        "small": .75rem,
        "normal": 1rem,
        "medium": 1.5rem,
        "big": 6rem,
        "extra-big": 7rem
);

$breakpoints: (
        'small': 767px,
        'medium': 992px,
        'large': 1200px
) !default;

$borderRadius: 5px;
