$fontSizes: (
  "small": 0.875rem,
  "normal": 1.25rem,
  "medium": 1.5rem,
  "big": 2.25rem,
  "extra-big": 4.875rem
) !default;

$padding: (
  "small": .75rem,
  "normal": 1rem,
  "medium": 1.5rem,
  "big": 6rem,
  "extra-big": 7rem
);

$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

$borderRadius: 5px;
