.random-name-generator {
  width: 100%;
  height: 100%;

  display: inline-flex;
  place-content: center;
  place-items: center;

  flex-direction: column;

  button {
    padding: 1rem;
    border: 2px solid $primary-color;
    color: $primary-color;
    background: transparent;
    outline: none;
  }
}
