app-link {
  display: contents;

  a {
    text-decoration: none;
    color: $on-surface-color;
    cursor: pointer;
    display: inline-block;

    fa-icon {
      font-size: map-get($fontSizes, small);
      margin-right: map-get($padding, extra-small);
    }
  }
}
