.window {
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: 75vh;
  max-width: 75vw;
  opacity: 0;
  resize: both;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .25s ease-out;

  background-color: rgba($surface-color, .5);
  color: $on-surface-color;

  font-size: map_get($fontSizes, normal);

  border-radius: 5px;

  &.full-screen {
    top: 0 !important;
    left: 0 !important;
    width: calc(100% - 2px) !important;
    height: calc(100% - 2px) !important;
    max-width: 100vw !important;
    max-height: calc(100vh - 3rem) !important;
    border-radius: 0;

    transform: translate3d(0, 0, 0) !important;

    .window-toolbar {
      border-radius: 0;
    }
  }

  &.on-focus {
    z-index: 90001;
    background-color: rgba($surface-color, 1);
  }

  &:not(.on-focus) {
    opacity: .5 !important;
    z-index: 0 !important;
  }

  &:hover:not(.on-focus) {
    opacity: .9 !important;
  }

  &-toolbar {
    width: 100%;
    background-color: $on-background-color;
    color: $background-color;
    display: inline-flex;
    justify-items: center;
    justify-content: space-between;
    z-index: 0;

    &-title {
      display: inline-flex;
      padding: map_get($padding, small);

      .icon {
        margin-right: map_get($padding, small);
        width: 1rem;
        height: 1rem;

        svg {
          rect {
            fill: $background-color;
          }
        }
      }
    }

    &-actions {
      display: inline-flex;
      background-color: $primary-color;

      .icon {
        padding: map_get($padding, small);
        cursor: pointer;
        opacity: .5;
        transition: opacity .25s ease-out;

        svg {
          height: 1rem;
          width: 1rem;
        }

        &:hover {
          opacity: 1;
        }

        &:last-child {
          background-color: red;
        }
      }
    }
  }

  &-content {
    padding: 0;
    width: 100%;
    color: $on-background-color;
    overflow: auto;
  }
}
